<div class="LibrosForm">
<%= form_for(libro) do |f| %>
  <% if libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul class="LibrosForm-errors">
      <% libro.errors.full_messages.each do |message| %>
        <li class="LibrosForm-errors-message"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="LibrosForm-field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="LibrosForm-field">
    <%= f.label :editorial %>
    <%= f.text_field :editorial %>
  </div>

  <div class="LibrosForm-field">
    <%= f.label :a帽o_publicaci贸n %>
    <%= f.number_field :a帽o_publicaci贸n %>
  </div>

  <div class="LibrosForm-field">
    <%= f.label :descripci贸n %>
    <%= f.text_field :descripci贸n %>
  </div>

  <div class="LibrosForm-field">
    <%= f.label :portada %>
    <%= f.file_field :portada %>
  </div>

  <%= f.submit "", class:"btn no-border submit" %>
<% end %>
</div>
